<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Red Pers</title>
    <link rel="stylesheet" href="/style.css"/>
    <script src="/script.js" defer></script>

  </head>
  <body>
    <header class="main-header">
        <a href="/"><img src=".\assets\logo\RedPers_Logo_Cmyk_Black.webp"></a>
        <nav class="main-category">
          
          <?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 28.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">
          <style type="text/css">
            .st0{fill:#FFFFFF;stroke:#000000;stroke-width:30;stroke-miterlimit:10;}
          </style>
          <g>
            <line class="st0" x1="35.5" y1="67.8" x2="263.5" y2="67.8"/>
            <line class="st0" x1="36" y1="150" x2="264" y2="150"/>
            <line class="st0" x1="36.5" y1="232.2" x2="264.5" y2="232.2"/>
          </g>
          </svg>
          
            <ul>
              <li><a href="/category">Binnenland</a></li>
              <li><a href="/category">Buitenland</li></a></li>
              <li><a href="/category">Columns</a></li>
              <li><a href="/category">Economie</a></li>
              <li><a href="/category">Kunst & Media</a></li>
              <li><a href="/category">Podcast</a></li>
              <li><a href="/category">Politiek</a></li>
              <li><a href="/category">Wetenschap</a></li>
            </ul>
        </nav>
    </header>
    <main>